@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');
/* vw:viewport width  vh:viewport height */
*{
    box-sizing:border-box;
}
/* overflow to hidden means that all content that do not fit ht cintianer will be hidden */
body{
    font-family:'Roboto',sans-serif;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('./img/AboutUsHouse7.jpg') 
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width:calc(100vw + 60px);
    height:calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}
